.header-container {
    width: 100%;
    min-height: 101px;
    border-bottom: 1px solid rgba(0,0,1,0.11);
   
    .header-content{
        display: flex;
        flex-wrap: wrap;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        min-height: inherit;

        .left-container {
            display: inline-flex;
            align-items: center;
            height: inherit;

            .ic-logo-name{
                display: inline-flex;
                margin-left: 36px;
                
                .logo-name{
                    margin-top: 10px;
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 37px;
                    height: 38px;
                    width: 62px;
                    margin-left: 18px;
                    margin-right: 34px;
                }
            }
            
            .link-page{
                margin: 18px;
            }
        }
    
        .right-container {
            display: inline-flex;
            align-items: center;
            height: inherit;
            justify-content: flex-end;
            margin-right: 26px;
            margin-left: auto;

            .btn-connect-wallet{
                width: fit-content;
                padding: 16px;
                background-color: #E9E9E9;
                cursor: pointer;
            }
        }
    }
}