.ic-zinc{
    background-image: url('../assets/icons/ic-zinc.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 51px;
}