.landing-page-container {
    margin-top: 63px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    .first-content {
        display: flex;
        margin-left: 86px;

        .left-container {
            .first-phase {
                max-width: 656px;
                font-size: 48px;
                line-height: 56px;
                font-weight: 400;
            }

            .explore-btn {
                color: white;
                margin-top: 28px;
            }

            .read-more-btn {
                margin-left: 24px;
                margin-top: 28px;
            }
        }

        .right-container {
            margin-left: auto;
        }
    }

    .second-content {
        margin-top: 175px;

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 64px;
            line-height: 75px;
            margin-bottom: 54px;
        }

        .wrapper-second-content {
            display: flex;
            margin-left: 86px;
        }

        .right-container {
            margin-left: 52px;
            max-width: 657px;

            .second-phase {
                font-size: 36px;
                font-weight: 400;
            }

            .third-phase {
                font-size: 24px;
                font-weight: 400;
                margin-top: 29px;
            }
        }
    }

    .third-content {
        margin-top: 44px;
        display: flex;
        justify-content: center;

        .left-container {
            max-width: 569px;
            padding-left: 100px;
            margin-right: 111px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .four-phase {
                font-size: 48px;
                font-weight: 400;
                line-height: 56px;
            }

            .five-phase {
                font-size: 24px;
                font-weight: 400;
                margin-top: 6px;
                line-height: 28px;
            }
        }
    }

    .four-content {
        margin-top: 175px;
        display: flex;

        .left-container {
            margin-left: 86px;
        }

        .right-container {
            margin-left: 52px;
            max-width: 608px;
            margin-right: 36px;

            .six-phase {
                font-size: 36px;
                font-weight: 400;
                line-height: 56px;
            }

            .seven-phase {
                font-size: 24px;
                font-weight: 400;
                margin-top: 13px;
                line-height: 28px;
            }
        }
    }
}
