@media (max-width: 1024px){
    .landing-page-container {
        .first-content{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 24px !important;

            .right-container{
                margin-top: 28px;
                margin-left: unset !important;
            }
        }

        .second-content{
            margin: 24px !important;
            
            .wrapper-second-content{
                margin-left: unset !important;
                flex-direction: column;
                align-items: center;

                .right-container{
                    margin-top: 24px;
                    margin-left: unset !important;
                }
            }
        }

        .third-content{
            margin: 24px !important; 
            flex-direction: column;
            align-items: center;

            .left-container{
                margin: 24px;
                padding-left: unset !important;
            }
        }

        .four-content{
            margin: 24px !important;
            flex-direction: column;
            align-items: center;

            .left-container{
                text-align: center;
                margin-left: unset !important;
            }

            .right-container{
               margin: 24px;
            }
        }
    }
}

@media (max-width: 425px){
    .landing-page-container {
        .first-content{
            margin: 16px !important;
        }

        .second-content{
            margin: 16px !important;
        }

        .third-content{
            margin: 16px !important; 
        }

        .four-content{
            margin: 16px !important;
        }
    }
}

