@media (max-width: 767px) {
    .header-container {
        .header-content {
            margin: 16px;

            flex-direction: column;
            .left-container {
                justify-content: center;

                .ic-logo-name {
                    margin-left: unset !important;
                }
            }
            .right-container {
                justify-content: center;
                margin: unset !important;
            }
        }
    }
}

@media (max-width: 582px) {
    .header-content{
        .left-container{
            .link-page{
                display: none;
            }
        }

        .right-container{
            .btn-connect-wallet{
                margin-top: 16px;
            }
        }
    }
}
